

body,
html{
  margin: 0;
  padding: 0;
  height: 100%;
}

.parallax {
  background: url("developer.jpg") no-repeat center top fixed;
   background-size: cover;

}

.screen {
   color:yellow;
   padding:70px;
   text-align: center;

  }
 .footer{
   background: #383737;
   color:#fff;
 }

/*Header______________________________________
_____________________________________________*/
.logo {
  background-color: #6e707e;
  border-radius: 100px;
  width: 100px;
  height:100px;
  margin:0 auto;
  text-align: center;
  display: flex;
}
.logo p {
  margin:auto;
  color: #f6bc01;
  font-family: Roboto, sans-serif;
  font-size: 35px;
  font-weight: 100;

}

/*Nav_________________________________________
______________________________________________*/

nav {
  display: flex;
  margin: 100px auto;
}

a {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: #9b9dab;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding:0;

}

li {
  float: left;
  padding:0 30px;
  border-left: 1px solid #5A7C6B;
}

li:first-child {
  border: none;
}
.link-top{
  position:fixed;
  bottom:25px;
  right:25px;
}

/*Body_________________________________________
______________________________________________*/

h1 {
  text-align: center;
  clear: both;
  text-transform: uppercase;
  font-family: 'Londrina Sketch', cursive;
  font-size: 75px;
  margin: 40px auto 40px;
}

.content-box{
  font-family: Roboto, sans-serif;
  text-align: center;
  max-width: 900px;
  margin:0 auto;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button{
  padding:10px;
  background: black;
  border:none;
  color: inherit;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  margin: 10px auto;
  border-radius:5px;
  text-shadow: 5px 0px 30px rgba(150, 150, 150, 1);
}
.button:first-of-type{
  color:tan;
}

/*_________________________________________________________
Sections..................................................*/


h3{
  font-family: 'Londrina Sketch', cursive;
  font-size: 45px;
  position:relative;
  clear:both;
  margin:75px auto;
}
h3::before{
  content:" ";
  position:absolute;
  top:50px;
  border-top:2px  dashed;
  border-color: inherit;
  width:150px;
}


.card {
  box-sizing: border-box;
  border-radius:15px;
  background-color:gray;
  max-width: 400px;
  overflow: hidden;
  margin:0 auto 25px;
  text-align: left;

}
.card i {
  text-align: center;
  margin:15px auto;
  width:100%
}
.grey-border{
  background:  #6e707e;
  height: 10px;
  vertical-align: bottom;
}

.card h4,
.card p {
  font-family: Roboto, sans-serif;
  padding: 25px 25px 10px;
}

img{
margin-bottom: -5px;

}

.social {
  text-align: center;
  width: 400px;
  margin: 25px auto;
  clear:both;
}
.social a{
  padding:0 10px;
}
